@media (max-width: 4000px) {


    .clubnext .row .para {
        width: 64%;

    }

    .clubnext .row .col-md-4 {
        width: 36%;

    }
}

@media (max-width: 1000px) {

    /* Styles specific to smaller screens */
    .clubnext .row {
        flex-direction: column-reverse;
    }

    .clubnext .row .para {
        width: 94%;
        margin: auto;
    }

    .clubnext .row .col-md-4 {
        width: 100%;
        margin: auto;
    }
}